/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
	margin: 0 auto;
padding-left: 20px;
padding-right: 20px;
max-width: 1140px;
}

.row {
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.row .onecol {
width: 4.85%;
}

.row .twocol {
width: 13.45%;
}

.row .threecol {
width: 22.05%;
}

.row .fourcol {
width: 30.75%;
}

.row .fivecol {
width: 39.45%;
}

.row .sixcol {
width: 48%;
}

.row .sevencol {
width: 56.75%;
}

.row .eightcol {
width: 65.4%;
}

.row .ninecol {
width: 74.05%;
}

.row .tencol {
width: 82.7%;
}

.row .elevencol {
width: 91.35%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}
}

/***** CUSTOM CSS *****/
body {
	font-family: 'Cabin', Arial, sans-serif;
	background: url(../images/exteriortile.gif) repeat-x #ffffff;
	overflow-y: scroll;
}

.wrapperMain {
	margin: 0 auto;
	width: 960px;
}

ul {
	list-style-type: none;
}

.admin {
	padding-top: 20px;
}

.searchForm {
	position: relative;
	margin: 30px auto 10px auto;
	padding-bottom: 5px;
	min-height: 35px;
}

.slide {
	padding-bottom: 5px;
	height: 325px;
}

.hidden {
	display: none;
}



/***** HEADER *****/
.header {
	margin: 0;
	padding: 0;
	width: 900px;
	height: 204px;
	background: url(../images/layer11.jpg) no-repeat;
}

.header h1.title {
	
}

.header img {
	height: 125px;
	width: 512px;
}


/***** BUTTONS *****/
.button {
	position: relative;
	padding: 5px 20px;
	color: #ffffff;
	font-family: 'Nunito', Arial, sans-serif;
	font-size:18px;
	font-weight:bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: #3799FF;
	border: none;

	/*** POSSIBLE BUTTON STYLE TO KEEP; EVALUATING ***/
	-webkit-text-shadow: 1px 1px 2px #3f3f3f;
	text-shadow: 1px 1px 2px #3f3f3f;
	text-decoration: none;
	text-align:center;
	ont-size:12px;
	ont-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 50px;
	-moz-box-shadow: inset -1px -1px 5px rgba(0,0,0,.4);
	-webkit-box-shadow: inset -1px -1px 5px rgba(0,0,0,.4) ;
	box-shadow: inset -1px -1px 5px rgba(0,0,0,.24) ;
}


.button:hover, .button.hover, .button[type=reset]:hover {
	background: #24A443;
}

.button:active {
	top: 1px;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

a.button {
	height: 24px;
	line-height: 24px;
}

.button.disabled, .button.disabled:hover, .button.lrg.disabled:hover, .button.disabled:active, .button.lrg.disabled:active {
	cursor: default;
	color: #c9c9c9;
	background: #a2a2a2;
	-webkit-text-shadow: 1px 1px 2px #a2a2a2;
	text-shadow: 1px 1px 2px #a9a9a9;
	-moz-box-shadow: -1px -1px 5px #a2a2a2 inset;
	-webkit-box-shadow: -1px -1px 5px #a2a2a2 inset;
	box-shadow: -1px -1px 5px #a2a2a2 inset;
}

.button[type=reset] {
	background: #999999;
}

.button[type=reset]:hover {
	background: #444444;
}

.button[type=cancel] {
	width: 100px;
	background: #999999;
}

.button[type=cancel]:hover {
	background-color: #cc0000;
}

.button#openSearch {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 1em;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.button.addNewRecord {
	display: inline-block;
	float: right;
}

.button.delete:hover {
	color: #ffffff;
	background: #cc0000;
}

.listItem .button {
	margin-right: 10px;
	font-size: 10px;
}


/*** FORM ELEMENTS ***/
form ul li {
	display: inline-block;
	margin-bottom: 10px;
}

label {
	display: inline-block;
	width: 20%;
	font-size: 14px;
}

input[type=textbox], select {
	font-size: 18px;
	padding: 5px 0 5px 10px;
	width: 76%;
	border: 1px solid #c9c9c9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}

select {
	padding: 0 0 0 5px;
	width: auto;
}

.boxed input[type=textbox], .boxed textarea {
	width: 100%;
	border: none;
	resize: none;
}

input[type=textbox]:focus {
	ackground: #ffffd9;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

li.checkbox label {
	padding-left: 5px;
	font-size: 18px;
	line-height: 20px;
}

ul.hasLabel {
	margin-top: 18px;
}

input[type=textbox].search  {
	width: 100%;
	background: #ffffff url(../images/icn_search-c9c9c9.png) no-repeat 200px center;
}

.boxed textarea {
	height: 215px;
}

form ul.formGroup {
	float: left;
	padding: 10px;
	width: 28%;
	min-height: 240px;
	background: #efefef;
	border: 1px solid #c9c9c9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form ul.formGroup.fourcol {
	width: 28.9%;
}

form ul.formGroup.buttons {
	display: inline;
	float: right;
	padding-right: 0;
	width: auto;
	height: auto;
	min-height: 38px;
	background: transparent;
	border: none;
}

form ul.formGroup.buttons li {
	margin-left: 10px;
}

form ul.formGroup.shows li {
	display: block;
	margin-bottom: 10px;
}

form ul.formGroup.vendors li {
	display: block;
	margin-bottom: 10px;
}

form ul.formGroup.products li {
	display: block;
	margin-bottom: 10px;
}

form ul.formGroup .listTitle {
	font-size: 18px;
	font-weight: bold;
}

form ul.formGroup .listTitle span {
	display: block;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

form ul.formGroup li.datepicker input {
	width: 35%;
}

form ul.formGroup li.datepicker input {
	margin-right: 4%;
}

form ul.formGroup li.datepicker input:last-child {
	margin-right: 0;
}

form li.disabled input {
	background: #c9c9c9;
	color: #999;
}


/*** LIST RECORDS ELEMENTS ***/
.container.listRecords {
	adding-left: 0;
	adding-right: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.listRecords li {
	padding: 10px;
	line-height: 25px;
	overflow: hidden;
	white-space: nowrap;
}

.listRecords li span {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.listRecords span.onecol {
	width: 6%;
}

.listRecords li.row {
	width: auto;
	font-size: 12px;
}

.listRecords {
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}

.listRecords li.listItem:hover {
	color: #ffffff;
	background-color: #3799FF;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}


.listRecords h2.listTitle, .ui-dialog-titlebar {
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	font-size: 100%;
	font-weight: bold;
	background: #efefef;
	border-bottom: 1px solid #c9c9c9;	
}

.listRecords h2.listTitle {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#vendor .listRecords li.listItem:hover, #product .listRecords li.listItem:hover {
	color: #272727;
	background-color: #efefef;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

.listRecords .hasSubGroup ul li {
	font-weight: bold;
}

.listRecords .hasSubGroup ul.subGroup li {
	padding: 5px 0 5px 5px;
	font-weight: normal;
}

.listRecords li.listItem.hasSubGroup:hover {
	color: #272727;
	background-color: #FDFDFD;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

.listRecords .hasSubGroup ul.subGroup li:last-child {
	margin-bottom: 20px;
}

.listRecords .hasSubGroup ul.subGroup li:first-child {
	margin-top: 5px;
}

.listRecords li.listItem.hasSubGroup .subGroup li:hover {
	color: #272727;
	background-color: #efefef;
	-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
	box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*.listRecords table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.listRecords table tbody td {
	padding: 10px 0;
}

.listRecords table thead th:first-child {
	padding-left: 10px;
}*/


/*** ADD RECORD STYLE ***/
.ui-dialog .ui-dialog-titlebar {
	margin: 0;
	padding: 0 0 0 10px;
	height: 35px;
	line-height: 35px;
	border: none;
}

.ui-dialog .ui-dialog-title {
	margin: 0;
	padding: 0 ;
	border: none;
	text-transform: capitalize;
}

.ui-dialog .ui-dialog-content {
	background: #ffffff;
	border: 1px solid #c9c9c9;
}

.ui-dialog .ui-dialog-content.warning, .ui-widget-content.ui-dialog-buttonpane {
	border: none;
}

.ui-dialog-buttonset button:first-child:hover {
	background: #cc0000;
}

.ui-dialog .ui-dialog-content form ul.formGroup {
	margin: 0;
	padding: 10px 0;
	background: #ffffff;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ui-dialog .row {
	min-width: 425px;
}

.ui-dialog .row .sixcol {
	width: 100%;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid transparent;
}







/**************************************** 

	JPAGES 
	http://luis-almeida.github.com/jPages

****************************************/
.pagination {
	margin: 13px 0;
	clear: both;
}

.pagination a {
	padding: 0 3px;
	font-size: 12px;
	cursor: pointer;
	margin: 0 2px;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}

.pagination a:hover {
	color: #fff;
	background: #3799ff;
}

.pagination a.jp-previous { margin-right: 10px; padding: 0; }
.pagination a.jp-next { margin-left: 10px;  padding: 0; }

.pagination a.jp-current, a.jp-current:hover { 
	/*color: #FF4242;*/
	color: #cc0000;
	/*background: #c9c9c9;*/
	font-weight: bold;
}

.pagination a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.pagination a.jp-current, a.jp-current:hover,
.pagination a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}

.pagination span { margin: 0 5px; }

.pagination {
	position: relative;
	line-height: 20px;
}

/*** CUSTOM JPAGES BUTTONS ***/
.pagination .jp-previous, .pagination .jp-next, .pagination .jp-first, .pagination .jp-last {
	display: inline-block;
	width: 19px;
	height: 20px;
	text-indent: -9999px;
}

.pagination .jp-previous {	
	background: url('../images/icn-sprite-prev-next.png') -66px 0 no-repeat;
}

.pagination .jp-previous:hover {
	background: url('../images/icn-sprite-prev-next.png') -33px 0 no-repeat;
}

.pagination .jp-previous.jp-disabled {
	background: url('../images/icn-sprite-prev-next.png') 0 0 no-repeat;
}

.pagination .jp-next {
	background: url('../images/icn-sprite-prev-next.png') -66px -23px no-repeat;
}

.pagination .jp-next:hover {
	background: url('../images/icn-sprite-prev-next.png') -33px -23px no-repeat;
}

.pagination .jp-next.jp-disabled {
	background: url('../images/icn-sprite-prev-next.png') 0 -23px no-repeat;
}

.pagination .jp-first {	
	background: url('../images/icn-sprite-prev-next.png') -66px -46px no-repeat;
}

.pagination .jp-first:hover {
	background: url('../images/icn-sprite-prev-next.png') -33px -46px no-repeat;
}

.pagination .jp-first.jp-disabled {
	background: url('../images/icn-sprite-prev-next.png') 0 -46px no-repeat;
}

.pagination .jp-last {
	background: url('../images/icn-sprite-prev-next.png') -66px -69px no-repeat;
}

.pagination .jp-last:hover {
	background: url('../images/icn-sprite-prev-next.png') -33px -69px no-repeat;
}

.pagination .jp-last.jp-disabled {
	background: url('../images/icn-sprite-prev-next.png') 0 -69px no-repeat;
}




/*** ADMIN MENU ***/
#admin ul.menu {
	margin-top: 50px;

}

#admin ul.menu li {
	display: inline-block;
	margin: 20px;

}



/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
.clearfix {height: %;}
.clearfix {display: block;}